*{
    margin:0;padding:0;
    box-sizing:border-box;
}

.container{
    position:relative;min-height:100vh;
    background:url('https://wallpaperswide.com/download/blue_horizon-wallpaper-1920x1080.jpg');

}

.container h1{
    font-size:50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:normal;
    padding:15px;
    color:whitesmoke;
    text-align:center;
    text-transform: capitalize;
}
.container .image-container{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;

}
.container .image-container .image{
    height:250px;
    width:350px;
    overflow:hidden;
    border: 10px solid rgb(211, 216, 191);
    box-shadow: 0 3px 5px rgba(0,0,0,.5);
    margin:20px;
}
.container .image-container .image img{
    height:100%;
    width:100%;
    object-fit: cover;
}
.container .image-container .image:hover img{
    transform:scale(1.2);
}

@media(max-width:768px){
    .container .pop-up img{
        width:95%;
    }
}
